<!DOCTYPE html>
<html lang="PT-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Python Avançado</title>
</head>
<body>
    <h1>Projecto Flask</h1>
    <p>Escola Profissional do Fundão <br> Curso : Progamador de Informática</p>
    <p>Para começar Clique no butão <br><br>
    <a href="/login"><button class="button-24" role="button">Login</button></a> </p>
</body>
</html>
